


/* .lew-short-url-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    height: 200px;
    overflow: hidden;
    transition: height 1s ease-out overflow 500ms ease-in;

} */

.lew-short-active-container {
    padding: 20px;
    background-image: linear-gradient(to right, rgb(238, 238, 253), rgb(255, 255, 242));
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 0px 0px 1px 2px rgb(253, 252, 252);
}

.lew-short-url-container, .lew-short-btn-container {
    height: 100px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.lew-short-url-container {
    width: 60%;
    align-items: end;
    padding-top: 9px;
}
.lew-short-url-container > .lew-short-url {
    font-weight: bold;
    color: rgb(78, 78, 78);
}
.lew-short-btn-container {
    width: 40%;
    align-items: start;
}
