
{% extends "_base.html" %}

{% load static %}

{# Load crispy forms #}
{% load crispy_forms_tags %}


{% block css %}
<link rel="stylesheet" href="{% static "authentication/css/login.css" %}">
{% endblock css %}

{% block title %}Login{% endblock title %}

{# Content block  #}
{% block content %}

<div class="container">

    <div class="container-login">
        <div class="box-login">
            <div class="login-heading text-center bg-warning mb-5">
                <h3 class="p-3">Login</h3>
            </div>
            <form action="{% url "authentication:login" %}" method="post">
                {% csrf_token %}
                {{ login_form|crispy }}
                <div class="container-fluid d-flex justify-content-center mt-5">
                    <input type="submit" value="Submit" class="btn btn-lg btn-success px-5 login-button">
                </div>
            </form>
        </div>
    </div>

</div>


{% endblock content %}


{% block js %}
    {% comment %} <script src="{% static "authentication/js/suggest_username.js" %}"></script> {% endcomment %}
{% endblock js %}