{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "shortener/dashboard.css" %}">
{% endblock css %}

{% block title %}
  Shortener
{% endblock %}

{% block content %}
    <div class="container mt-5">
        {% comment %} <h2 class="text-danger my-2 py-2">URL</h2> {% endcomment %}
        <form action="{% url "shortener:hash" %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="container-fluid d-flex justify-content-end">
                <input type="submit" value="Submit" class="btn btn-lg btn-success px-5">
            </div>
        </form>
    </div>
    {% if short_active and last_url %}
      <div class="container mt-5 fs-5 lew-short-active-container">
        <div class="container-fluid lew-short-url-inner  d-flex justify-content-center">
          <div class="lew-short-url-container">
            <a href="{{ last_url }}" target="_blank" class='px-3 lew-short-url'>{{ last_url }}</a>
          </div>
          <div class='lew-short-btn-container'>
            <button class="btn btn-lg btn-warning fw-bold rounded-4 px-5 lew-copy-btn">Copy</button>
          </div>
        </div>
      </div>
    {% endif %}
    
{% endblock %}

{% block js %}
  <script src="{% static 'shortener/base.js' %}" type="module"></script>
  <script src="{% static 'shortener/js/dashboard.js' %}" type="module"></script>
{% endblock %}
